.wrapper {
  padding-top: 50px; 
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  background-image: linear-gradient(to bottom, #25478D, #835A90);
  height:100%;
}
